{% extends "base.html" %}"}
{% load static %}

{% block title %} Mundo Video Juegos {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-body text-center my-5"> Bienvenido a la mejor tienda de Video Juegos</h1>
    <p class="text-body"> Explora nuestro catalogo y disfruta de las mejores ofertas</p>

    <img src="{% static 'img/logo.jpeg' %}" alt="Logo" class="img-fluid my-4">

    <div class = "alert alert-primary">¡Nueva colección de videojuegos disponibles esta semana!</div>
    <div class = "alert alert-warning">Recuerda revisar las restricciones de edad para algunos títulos</div>
    <div class = "alert alert-danger">Algunos productos tienen stock limitado, ¡apresúrate!</div>
</div>
{% endblock %}

