#toggle-theme {
    width: 45px;
    height: 45px;
}

.navbar-brand img {
    height: 50px;
    margin-right: 10px;
}

.navbar-brand span {
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px #000;
}

.juego-card {
    transition: transform 0.3s ease;
    box-shadow 0.3s ease;
}

.juego-card: hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px (0, 0, 0, 0.2)
}

.detalle-img {
    transition: transform 0.3s ease;
    box-shadow 0.3s ease;
}

.detale-img: hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px (0, 0, 0, 0.25)
}